.logo-container {
    display: flex;
    justify-content: center; /* Yatay ortalama */
    align-items: center;     /* Dikey ortalama */
    height: 100vh;           /* Sayfanın tamamını kaplasın */
    
}

.logo-container img {
    max-width: 300px;
    height: auto;
}
